@page "/Media"
<h3>MediaOverview</h3>

<MudTable T="Media" ServerData="@(new Func<TableState, Task<TableData<Media>>>(ServerReload))" OnRowClick="Table_OnRowClick" @ref="_table">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Media</MudText>
        <MudSpacer/>
        <MudTextField T="string" ValueChanged="@(Table_OnSearch)" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel T="string" SortLabel="@nameof(MediaGroup)">Group</MudTableSortLabel></MudTh>
        <MudTh>Group Order</MudTh>
        <MudTh><MudTableSortLabel T="string" SortLabel="@nameof(Asset)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="string" SortLabel="@nameof(Brand)">Brand</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="string" SortLabel="@nameof(AssetType)">Type</MudTableSortLabel></MudTh>
        <MudTh>Other Names</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd Class="cursor-pointer">@context.Group?.Name</MudTd>
        <MudTd Class="cursor-pointer">@context.GroupOrder</MudTd>
        <MudTd Class="cursor-pointer">@context.Asset.Name</MudTd>
        <MudTd Class="cursor-pointer">@context.Asset.Brand?.Name</MudTd>
        <MudTd Class="cursor-pointer">@context.Asset.AssetType?.Name</MudTd>
        <MudTd Class="cursor-pointer">@(string.Join(". ", context.MediaNames?.Select(name => name.Name) ?? Array.Empty<string>()))</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Nothing to show.</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager ShowEntriesPerPage="true" ShowFirstLastButtons="true"/>
    </PagerContent>
</MudTable>